vti_encoding:SR|utf8-nl
vti_cachedlinkinfo:VX|S|menuarrow.gif
vti_timecreated:TR|06 Jul 2006 14:08:15 +0200
vti_cacheddtm:TX|06 Jul 2006 14:08:15 +0200
vti_timelastmodified:TR|06 Jul 2006 14:08:15 +0200
vti_cachedhasbots:BR|false
vti_filesize:IX|6240
vti_extenderversion:SR|3.0.2.926
vti_backlinkinfo:VX|
vti_cachedhasborder:BR|false
vti_author:SR|mpaiva
vti_cachedhastheme:BR|false
vti_modifiedby:SR|mpaiva
