vti_encoding:SR|utf8-nl
vti_author:SR|mpaiva
vti_cachedlinkinfo:VX|S|menuarrow.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|07 Jul 2006 13:50:53 +0200
vti_filesize:IX|7107
vti_modifiedby:SR|mpaiva
vti_backlinkinfo:VX|muebles/altabienesmueblesprueba.htm listadosinformaticos/listadoinformatico.htm muebles/prueba.htm listadosmuebles/listadomueble.htm
vti_cacheddtm:TX|31 Jul 2006 09:42:35 +0200
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|07 Jul 2006 13:50:53 +0200
vti_extenderversion:SR|3.0.2.926
vti_timelastmodified:TR|07 Jul 2006 13:50:53 +0200
